* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("backGround-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container {
  backdrop-filter: blur(3px);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
  border: 0.5px solid lightgray;
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: transparent;
}

form input {
  border: 1px solid lightgray;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.dropdown i {
  font-size: 1rem;
  margin-top: 1.4rem;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  border-radius: 1rem;
  padding-left: 0.5rem;
  border: 1px solid lightgray;
}
.select-container select {
  font-size: 1rem;
  width: auto;
}
p {
  font-weight: 550;
}
.msg {
  margin: 1.5rem 0 2rem 0;
  font-weight: 550;
}
button {
  height: 3rem;
  background-color: #395399;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: -0.5px -0.5px 6px;
}
button:active {
  box-shadow: inset 4px 4px 12px #395399, inset -4px -4px 12px #395399;
}
